<!-- Always create iframes to embed videos if present. See: http://semantic-ui.com/modules/embed.html -->


<h2>More on HSJ</h2>

<div class="ui three item stackable menu">

  <a href="/home" class="item">About HSJ</a>
  <a href="/resources" class="item">Resources</a>
  <a href="/setlists" class="item">Setlists</a>
</div>

<div style="margin-bottom: 0px" class="ui three item stackable menu">
  <a href="/jul2016" class="item">Jul 2016</a>
  <a href="/aug2016" class="item">Aug 2016</a>
  <a href="/oct2016" class="item">Oct 2016</a>
</div>

<div style="margin-top: 0px" class="ui four item stackable menu">
  <a href="/nov2016" class="item">Nov 2016</a>
  <a href="/jan2017" class="item">Jan 2017</a>
  <a href="/feb2017" class="item">Feb 2017</a>
  <a href="/apr2017" class="item">Apr 2017</a>
</div>




<script>
  $('.ui.embed').embed();
</script>
