<!-- Always create iframes to embed videos if present. See: http://semantic-ui.com/modules/embed.html -->


<h2>More on HSJ</h2>

<div class="ui center aligned equal width stackable grid container">

  <div class="column">
    <a href="/home">
      <button style="margin-bottom: 5px" class="ui primary button">About HSJ</button>
    </a>
    <a href="/resources">
      <button style="margin-bottom: 5px" class="ui primary button">Resources</button>
    </a>
    <a href="/setlists">
      <button style="margin-bottom: 5px"  class="ui primary button">Setlists</button>
    </a>
  </div>

  <div class="column">
    <a href="/july2016">
      <button style="margin-bottom: 5px" class="ui primary button">Jul 2016</button>
    </a>
    <a href="/aug2016">
      <button style="margin-bottom: 5px" class="ui primary button">Aug 2016</button>
    </a>
    <a href="/oct2016">
      <button style="margin-bottom: 5px" class="ui primary button">Oct 2016</button>
    </a>
    <a href="/nov2016">
      <button style="margin-bottom: 5px" class="ui primary button">Nov 2016</button>
    </a>
  </div>
</div>


<script>
  $('.ui.embed').embed();
</script>
