<!-- Always create iframes to embed videos if present. See: http://semantic-ui.com/modules/embed.html -->


<h2>More on HSJ</h2>

<div style="margin-bottom: 0px" class="ui three item stackable menu">
  <a href="/home" class="item">About HSJ</a>
  <a href="/resources" class="item">Resources</a>
  <a href="/setlists" class="item">Setlists</a>
</div>

<div style="margin-top: 0px" class="ui three item stackable menu">
  <a href="/techrider" class="item">Tech Rider</a>
  <a href="/jamspace" class="item">Jam Spaces</a>
  <a href="/ten-commandments" class="item">10 Commandments of Jam</a>
</div>

<div style="margin-bottom: 0px" class="ui four item stackable menu">
  <a href="/jul2016" class="item">Jul 2016</a>
  <a href="/aug2016" class="item">Aug 2016</a>
  <a href="/oct2016" class="item">Oct 2016</a>
  <a href="/nov2016" class="item">Nov 2016</a>
</div>

<div style="margin-top: 0px; margin-bottom: 0px;" class="ui four item stackable menu">
  <a href="/jan2017" class="item">Jan 2017</a>
  <a href="/feb2017" class="item">Feb 2017</a>
  <a href="/apr2017" class="item">Apr 2017</a>
  <a href="/jul2017" class="item">Jul 2017</a>
</div>

<div style="margin-top: 0px; margin-bottom: 0px;" class="ui four item stackable menu">
  <a href="/aug2017" class="item">Aug 2017</a>
  <a href="/sept2017" class="item">Sep 2017</a>
  <a href="/oct2017" class="item">Oct 2017</a>
  <a href="/jan2018" class="item">Jan 2018</a>
</div>

<div style="margin-top: 0px; margin-bottom: 0px;" class="ui four item stackable menu">
  <a href="/mar2018" class="item">Mar 2018</a>
  <a href="/jun2018" class="item">Jun 2018</a>
  <a href="/jun2018-2" class="item">Jun 2018 (2)</a>
  <a href="/jul2018" class="item">Jul 2018</a>
</div>

<div style="margin-top: 0px; margin-bottom: 0px;" class="ui four item stackable menu">
  <a href="/ophelia2018" class="item">Ophelia 2018</a>
  <a href="/aug2018" class="item">Aug 2018</a>
  <a href="/sep2018" class="item">Sep 2018</a>
  <a href="/oct2018" class="item">Oct 2018</a>
</div>

<div style="margin-top: 0px; margin-bottom: 0px;" class="ui four item stackable menu">
  <a href="/nov2018" class="item">Nov 2018</a>
  <a href="/jan2019" class="item">Jan 2019</a>
  <a href="/mar2019-annas" class="item">Mar 2019 (Anna's)</a>
  <a href="/mar2019-kevin" class="item">Mar 2019 (Kevin's)</a>
</div>

<div style="margin-top: 0px; margin-bottom: 0px;" class="ui three item stackable menu">
  <a href="/may2019" class="item">May 2019</a>
  <a href="/jul2019" class="item">Jul 2019</a>
  <a href="/sep2019" class="item">Sep 2019</a>
</div>

<script>
  $('.ui.embed').embed();
</script>
